.wrapper {
  margin-bottom: 20px;
  height: 580px;
  width: 95%;
  max-width: 400px;
  border-radius: 16px;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 20px;
  color: var(--text-color);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  position: relative;
  scroll-snap-align: center;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  z-index: 0;
  transition: background-color 0.3s ease;
}

.wrapper:hover::before {
  background-color: rgba(0, 0, 0, 0.8);
}

.wrapper > * {
  position: relative;
  z-index: 1;
}

.techIcon {
  width: 30px;
  height: 30px;
  margin: 3px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 10px;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 15px;
  margin: 10px auto;
  width: 90%;
  justify-content: space-between;
}

.link {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

.link:hover {
  color: var(--accent-color);
  transform: scale(1.05);
}

@media (min-width: 1024px) {
  .wrapper {
    height: fit-content;
    min-height: 300px;
    width: 85%;
    max-width: 1000px;
    scroll-snap-align: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    flex-direction: row;
    align-items: center;
  }

  .wrapper:hover {
    transform: scale(1.03);
    transition: ease-in-out 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  .content {
    margin: 0 20px;
  }

  .wrapper::before {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .wrapper::before:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
