.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

.portrait {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
  position: inherit;
  margin-left: 50%;
  margin-top: 20px;
  margin-bottom: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  z-index: 7;
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  margin: -40px 0px 20px 0px;
  padding-top: 10px;
  text-align: center;
  color: var(--text-color);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  background-color: var(--primary-color);
  border-radius: 20px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: left;
  width: 90%;
  color: var(--text-color);
  margin-top: 100px;
  margin-bottom: -135px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.content p {
  line-height: 1.6;
  margin: 20px;
}

@media (min-width: 769px) {
  .wrapper {
    max-width: 1000px;
  }

  .content {
    margin-right: 50px;
    width: 80%;
  }

  .title {
    width: 85%;
  }

  .content p {
    line-height: 1.6;
    margin-left: 40px;
    margin-right: 40px;
  }
}
