.wrapper {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9;
  background-color: #22375f;
  height: 100px;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  height: fit-content;
  justify-content: space-between;
  width: 100%;
}



.headerLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  top: 0;
  left: 0;
}

.logo {
  height: 85px;
  width: 90px;
  margin-left: -10px;
}

.title {
  font-size: 28px;
  text-align: left;
  margin-left: -10px;
}

.headerRight {
  display: none;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 10px;
}

.burgerMenu {
  display: flex !important;
}

/* Burger Menu Styling */

:global(.bm-burger-button) {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 10px;
  top: 30px;
  cursor: pointer;
}

:global(.bm-burger-bars) {
  background-color: var(--text-color);
  height: 4px;
  margin: 5px 0;
  border-radius: 2px;
}


:global(.bm-menu-wrap) {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden !important;
  width: 150px !important;
}

:global(.bm-menu) {
  background-color: #22375f;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-bottom-left-radius: 16px;
  padding: 0;
  font-size: 1.15em;
  height: 300px !important;
  width: 150px !important;
  overflow: hidden !important;
}

:global(.bm-morph-shape) {
  fill: #373a47;
}

:global(.bm-item-list) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-top: 60px;
  height: 300px;
  overflow: hidden !important;
}

:global(.bm-item-list a) {
  display: inline-block;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
  transition: color 0.3s;
}

:global(.bm-item-list a:hover) {
  color: #f39c12;
}

:global(.bm-item-list a.active) {
  color: #90edfc;
  border-bottom: 2px solid #90edfc;
}

:global(.bm-overlay) {
  background-color: rgba(0, 0, 0, 0.5);
}

:global(.bm-cross-button) {
  height: 30px;
  width: 30px;
}

:global(.bm-cross) {
  background-color: #90edfc;
  height: 3px;
}

:global(.bm-cross:hover) {
  background-color: #f39c12;
}

@media (min-width: 769px) {
  .headerContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    height: fit-content;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }

  .headerLeft {
    justify-content: flex-start;
    flex-grow: 1;
    margin-bottom: 0;
  }

  .logo {
    height: 100px;
    width: 110px;
    margin-left: -10px;
  }

  .title {
    font-size: 32px;
    margin-left: 0;
  }

  .headerRight {
    display: flex !important;
    justify-content: flex-end;
    flex-grow: 0;
    margin-bottom: 0;
  }

  .burgerMenu {
    display: none !important;
  }

  :global(.bm-burger-button),
  :global(.bm-menu-wrap),
  :global(.bm-overlay) {
    display: none !important;
  }
}
