html {
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  text-align: center;
  background-color: #22375f;
  font-size: 1rem;
  font-family: lato, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* global variables */
:root {
  --background-color: rgba(25, 42, 74, 0.9);
  --primary-color: #2c4a80;
  --secondary-color: #90edfc;
  --accent-color: #f39c12;
  --text-color: #ffffff;
  --header-height: 100px;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.rootLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.backgroundImage {
  position: fixed;
  inset: 0;
  background-image: url("/assets/cogs.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(0); 
  will-change: transform;
  z-index: 0;
  pointer-events: none;
}

.mainContent {
  flex: 1;
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: var(--header-height);
 
  min-height: calc(100dvh - var(--header-height));
}

.rootLayout,
.mainContent {
  position: relative;
}

@media (min-width: 1024px) {
  .maincontent {
    min-height: 100vh;
  }
}
