html {
  min-height: 100%;
  scrollbar-gutter: stable both-edges;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
}

#root {
  width: 100%;
  text-align: center;
  background-color: #22375f;
  font-size: 1rem;
  font-family: lato, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scrollbar-gutter: stable both-edges;
}

/* global variables */
:root {
  --background-color: #192a4a;
  --primary-color: #2c4a80;
  --secondary-color: #90edfc;
  --accent-color: #f39c12;
  --text-color: #ffffff;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.rootLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/cogs.jpg');
}
